:root {
  --white: #f2f2f2;
  --black: #2a2a2a;
  --yellow: #eede54;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--black);
  color: var(--white);
}

main {
  margin: 0 3em 0 3em;
}

.name-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto 1em auto;
  color: var(--white);
  font-weight: lighter;
}

header {
  margin: 1em 0 1em 0;
  height: 3em;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  font-weight: bold;
  background-color: var(--yellow);
  align-items: center;
}

header nav {
  background-color: var(--yellow);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0.4em 3em 0.4em 3em;
}

nav a {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: var(--yellow);
  color: var(--black);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  background-color: var(--black);
  color: var(--yellow);
}

p {
  margin: 1em 0 1em 0;
  line-height: 2em;
}

section {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 2rem 1rem;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--yellow);
}

.img-container {
  width: max-content;
}

.img-container:hover .project-img {
  opacity: 0.4;
}

.img-container:hover .project-middle {
  opacity: 1;
}

.project-container {
  display: flex;
}

.project-item-title {
  text-align: center;
}

.project-middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  /* top: -50%; */
  top: -140px;
  /* left: 50%; */
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.project-img {
  width: 360px;
  height: 200px;
}

.project-stack {
  margin: 0.3em;
}

.project-excerpt {
}

.project-box {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 1em;
}

.contact-container div {
  /* margin-bottom: 1rem; */
}

.contact-item {
  display: flex;
}

.contact-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  height: 40px;
  width: 40px;
  margin: 1rem;
}

footer {
  width: 100%;
  color: var(--white);
  font-size: 0.75rem;
  bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em;
}

.icon-container {
  display: flex;
  margin-bottom: 2.5em;
}

.icon-container img {
  height: 50px;
  width: 50px;
  margin: 1rem;
}

.icon-container img:hover {
  transform: scale(1.7);
}

.icon-box {
  height: 50px;
  width: 50px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
