---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="name-title page-width-container">MUHAMMAD A'ISAMUDDIN</h1>
    <!-- Header -->
    <header>
      <nav class="page-width-container">
        <a href="#about">ABOUT ME</a>
        <a href="#skills"> SKILLS</a>
        <a href="#projects">PROJECTS</a>
        <a href="#contacts">CONTACTS</a>
      </nav>
    </header>
    <!-- About -->
    <section id="about" class="page-width-container">
      <h2 class="subtitle">About Me</h2>
      <p>
        Hello there! The name is Muhammad A'isamuddin bin Johari. I am a
        self-taught programmer and I have spent a lot of time learning web
        development skills by using online resources and building valuable
        personal projects. I wish to become a full-fledged programmer in the
        future and contribute my skills in creating something wonderful.
      </p>
    </section>
    <!-- Skills -->
    <section id="skills" class="page-width-container">
      <h2 class="subtitle">Skills</h2>
      <Skills />
    </section>
    <!-- Projects -->
    <section id="projects" class="page-width-container">
      <h2 class="subtitle">Projects</h2>
      <div class="project-container">
        <Card
          title="TheFauxShop"
          img="/assets/thefauxshop.webp"
          href="https://thefauxshop-react.vercel.app/"
          stack="(React, Tailwind)"
          description="An e-commerce website for aspiring shoppers."
        />

        <Card
          title="Todolister"
          img="/assets/todolister-page.webp"
          href="https://todolister.vercel.app"
          stack="(HTML, CSS, Javascript, React, Firebase)"
          description="A website to create personalised todo list."
        />

        <Card
          title="ChitChatChoot"
          img="/assets/chitchatchoot-page.webp"
          href="https://chitchatchoot.vercel.app"
          stack="(HTML, CSS, Javascript, NextJs, Tailwind, Firebase)"
          description="A one to one chat website."
        />

        <Card
          title="Gamedle"
          img="/assets/gamedle-page.webp"
          href="https://gamedle.vercel.app"
          stack="(HTML, CSS, Javascript, NextJs)"
          description="A wordle clone project to sharpen developing skills."
        />

        <Card
          title="Employee management system"
          img="/assets/employee-management-page.webp"
          href="https://emp-mgmt-system-react.vercel.app/"
          stack="(MongoDB, Express, React, NodeJs, Tailwind)"
          description="A website to organize workforce details."
        />
      </div>
    </section>
    <!-- Contact Information -->
    <section id="contacts" class="page-width-container">
      <h2 class="subtitle">Contact Information and Other Links</h2>
      <div class="contact-item">
        <img class="icon" src="/assets/icons/email-plain.svg" alt="email" />
        <div class="contact-item-info">
          <h3>Email</h3>
          <span>aisam0094@gmail.com</span>
        </div>
      </div>
      <div class="contact-item">
        <img class="icon" src="/assets/icons/phone-plain.svg" alt="phone" />
        <div class="contact-item-info">
          <h3>Phone Number</h3>
          <span>+60127042003</span>
        </div>
      </div>
      <div class="contact-item">
        <img
          class="icon"
          src="/assets/icons/github-original.svg"
          alt="github"
        />
        <div class="contact-item-info">
          <h3>Github Link</h3>
          <span
            ><a class="github-link" href="https://github.com/aisam94"
              >https://github.com/aisam94</a
            ></span
          >
        </div>
      </div>
      <div class="contact-item">
        <img
          class="icon"
          src="/assets/icons/linkedin-plain.svg"
          alt="linkedin"
        />
        <div class="contact-item-info">
          <h3>LinkedIn Link</h3>
          <span
            ><a
              class="github-link"
              href="https://www.linkedin.com/in/muhammad-aisamuddin-bin-johari/"
              >https://www.linkedin.com/in/muhammad-aisamuddin-bin-johari/</a
            ></span
          >
        </div>
      </div>
    </section>
  </main>
  <!-- Footer -->
  <footer class="page-width-container">
    &copy 2023 by Muhammad A'isamuddin Bin Johari
  </footer>
</Layout>

<style></style>
