---
---

<div class="icon-container">
  <!-- HTML -->
  <div class="icon-box">
    <img src="./assets/icons/html5-original.svg" />
    <span>HTML</span>
  </div>

  <!-- CSS -->
  <div class="icon-box">
    <img src="./assets/icons/css3-original.svg" />
    <span>CSS</span>
  </div>

  <!-- JavaScript -->
  <div class="icon-box">
    <img src="./assets/icons/javascript-original.svg" />
    <span>JavaScript</span>
  </div>

  <!-- TypeScript -->
  <div class="icon-box">
    <img src="./assets/icons/typescript-original.svg" />
    <span>TypeScript</span>
  </div>

  <!-- React -->
  <div class="icon-box">
    <img src="./assets/icons/react-original.svg" />
    <span>ReactJs</span>
  </div>

  <!-- Vue -->
  <div class="icon-box">
    <img src="./assets/icons/vuejs-original.svg" />
    <span>VueJs</span>
  </div>
  
  <!-- Laravel -->
  <div class="icon-box">
    <img src="./assets/icons/laravel-plain.svg" />
    <span>Laravel</span>
  </div>

  <!-- NodeJS -->
  <div class="icon-box">
    <img src="./assets/icons/nodejs-original.svg" />
    <span>NodeJS</span>
  </div>

  <!-- MySQL -->
  <div class="icon-box">
    <img src="./assets/icons/mysql-original.svg" />
    <span>MySQL</span>
  </div>

  <!-- Python -->
  <div class="icon-box">
    <img src="./assets/icons/python-original.svg" />
    <span>Python</span>
  </div>

  <!-- Git -->
  <div class="icon-box">
    <img src="./assets/icons/git-original.svg" />
    <span>Git</span>
  </div>
</div>
