---
---

<div class="icon-container">
  <!-- Java -->
  <div class="icon-box">
    <img src="/assets/icons/java-original.svg" alt="linux" />
    <span>Java</span>
  </div>

  <!-- Spring -->
  <div class="icon-box">
    <img src="/assets/icons/spring-original.svg" alt="nodejs" />
    <span>SpringBoot</span>
  </div>

  <!-- Maven -->
  <div class="icon-box">
    <img src="/assets/icons/maven-original.svg" alt="nodejs" />
    <span>Maven</span>
  </div>

  <!-- JavaScript -->
  <div class="icon-box">
    <img src="/assets/icons/javascript-original.svg" alt="javascript" />
    <span>JavaScript</span>
  </div>

  <!-- TypeScript -->
  <div class="icon-box">
    <img src="/assets/icons/typescript-original.svg" alt="typescript" />
    <span>TypeScript</span>
  </div>

  <!-- React -->
  <div class="icon-box">
    <img src="/assets/icons/react-original.svg" alt="reactjs" />
    <span>React</span>
  </div>

  <!-- Angular -->
  <div class="icon-box">
    <img src="/assets/icons/angular-original.svg" alt="linux" />
    <span>Angular</span>
  </div>

  <!-- NodeJS -->
  <div class="icon-box">
    <img src="/assets/icons/nodejs-original.svg" alt="nodejs" />
    <span>NodeJS</span>
  </div>

  <!-- MySQL -->
  <div class="icon-box">
    <img src="/assets/icons/mysql-original.svg" alt="mysql" />
    <span>MySQL</span>
  </div>

  <!-- MongoDB -->
  <div class="icon-box">
    <img src="/assets/icons/mongodb-original.svg" alt="linux" />
    <span>MongoDB</span>
  </div>

  <!-- RabbitMQ -->
  <div class="icon-box">
    <img src="/assets/icons/rabbitmq-original.svg" alt="linux" />
    <span>RabbitMQ</span>
  </div>

  <!-- Git -->
  <div class="icon-box">
    <img src="/assets/icons/git-original.svg" alt="git" />
    <span>Git</span>
  </div>


</div>
