---
---

<div class="icon-container">
  <!-- HTML -->
  <div class="icon-box">
    <img src="./assets/icons/html5-original.svg" alt="html" />
    <span>HTML</span>
  </div>

  <!-- CSS -->
  <div class="icon-box">
    <img src="./assets/icons/css3-original.svg" alt="css" />
    <span>CSS</span>
  </div>

  <!-- JavaScript -->
  <div class="icon-box">
    <img src="./assets/icons/javascript-original.svg" alt="javascript" />
    <span>JavaScript</span>
  </div>

  <!-- TypeScript -->
  <div class="icon-box">
    <img src="./assets/icons/typescript-original.svg" alt="typescript" />
    <span>TypeScript</span>
  </div>

  <!-- ReactJS -->
  <div class="icon-box">
    <img src="./assets/icons/react-original.svg" alt="reactjs" />
    <span>ReactJs</span>
  </div>

  <!-- VueJS -->
  <div class="icon-box">
    <img src="./assets/icons/vuejs-original.svg" alt="vuejs" />
    <span>VueJs</span>
  </div>

  <!-- Laravel -->
  <div class="icon-box">
    <img src="./assets/icons/laravel-plain.svg" alt="laravel" />
    <span>Laravel</span>
  </div>

  <!-- NodeJS -->
  <div class="icon-box">
    <img src="./assets/icons/nodejs-original.svg" alt="nodejs" />
    <span>NodeJS</span>
  </div>

  <!-- MySQL -->
  <div class="icon-box">
    <img src="./assets/icons/mysql-original.svg" alt="mysql" />
    <span>MySQL</span>
  </div>

  <!-- Python -->
  <div class="icon-box">
    <img src="./assets/icons/python-original.svg" alt="python" />
    <span>Python</span>
  </div>

  <!-- Git -->
  <div class="icon-box">
    <img src="./assets/icons/git-original.svg" alt="git" />
    <span>Git</span>
  </div>

  <!-- Linux -->
  <div class="icon-box">
    <img src="./assets/icons/linux-original.svg" alt="linux" />
    <span>Linux</span>
  </div>
</div>
